body {
    background: white;
  }

  hr {
    color: #ebebeb; 
    width: 1300px;
  }
  
  .primeira {
    background-color: white;
    color: black;
    padding: 2px;
    width: 100%;
    border: 3px solid #EDEDED; 
  }

  .projeto {
    font-size: 15px;
    margin-left: 20px;
  }

  .docente {
    font-size: 15px;
    margin-left: 20px;
  }

  .desenvolvimento {
    font-size: 15px;
    margin-left: 20px; 
    height: 80px;
    border: 1px solid #c9c9c9; 
  }

  .matricula {
    font-size: 15px;
    margin-left: 20px;
    background-color: #F5F5F5;
    display: flex; /* Tornando os elementos filhos flexíveis */
    flex-direction: row;
    height: 80px;
    border: 2px solid #E3E3E3;
  }

  .matricula2 {
    font-size: 15px;
    margin-left: 10px;
    background-color: #F5F5F5;
    display: flex; /* Tornando os elementos filhos flexíveis */
    flex-direction: row;
    height: 80px;
    border: 2px solid #E3E3E3;
  }

  .matricula3 {
    font-size: 15px;
    margin-left: 15px;
    background-color: #F5F5F5;
    display: flex; /* Tornando os elementos filhos flexíveis */
    flex-direction: column;
    height: 75px;
    border: 2px solid #E3E3E3;
  }

  .ultimo {
    margin-left: 15px;
    font-size: 18px;
    background-color: white;
    display: flex; /* Tornando os elementos filhos flexíveis */
    flex-direction: row;
    height: 30px;
    width: 1250px;
    border: 2px solid #E3E3E3;
  }

  h5 {
    margin-top: 8px;
    color: #6e7378;
    margin-left: 15px;
  }
  

  .Mextra {
    margin-left: 200px;
  }

  .oculos2 {
    margin-left: 60px;
  }

  h4 {
    margin-right: 10px; /* Ajusta a margem direita do h4 */
    margin-bottom: 2; /* Remove a margem inferior do h4 */
  }

  .quadrado {
    width: 400px;
    height: 30px;
    border: 1px solid #CCCCCC;
  }

  .quadrado2 {
    width: 170px;
    height: 30px;
    border: 1px solid #CCCCCC;
  }
  
  .segunda {
    background-image: url('certo.png');
    padding: 2px;
    width: 100%;
  }
  
  .login {
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #20659F; 
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
  }

  .oculos {
    margin-left: 25px;
  }

  .aaa{
    margin-left: 25px;
  }

  .titulo2 {
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #0240FB; 
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif; 
  }
  

  .titulo3 {
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #333333;  
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
  }
  
  .btn:hover {
    text-decoration: underline;
  }

  .botaoextra{
    color: #338FD0; 
    text-align: right;
  }

  h7 {
    color: #31708F; 
    margin-right: 10px;
  }

  .hh {
    text-align: right;
  }

  
  ul {
    display: flex;
    justify-content: left;
    list-style: none;
  
  }
  
  .azul {
    margin-right: 20px;
    color: #6E89CE;
  }
  
  .comeco {
    margin-right: 20px;
    color: #64717A;
  }

  .comeco2 {
    color: #333333; 
  }
  
  .btn {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
  }
  
  .btn3 {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
  }
  
  .btn3:hover {
    color: #0000CD;
  }
  
  .logo {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar2 {
    color: black
  }
  
  
  .fim {
    margin-left: 10px;
    color: #777777; 
    font-weight: bold;
    justify-content: right;
    text-align: right;
  }
  
  .btn2 {
    display: block;
    margin-left: 40px;
    background-color: #07A7F8;
    color: white;
    border-radius: 5px; 
    padding: 3px 6px;
  
  }

  .mais {
    display: block;
    margin-left: 35px;
    background-color: #337AB7;
    align-self: center;
    color: white;
    width: 65px;
    height: 40px;
    border: none;
    font-size: 30px;
  }

  .mais:hover {
    background-color: #2E6DA4; 
  }

  .btnultimo {
    display: block;
    margin-left: 20px;
    background-color: #efefef; 
    align-self: center;
    color: black;
    height: 20px;
    border: 1px solid #767676; 
    font-size: 12px;
  }


  
  .btnultimo:hover {
    background-color: #CCCCCC; 
  }

  .enviar {
    display: block;
    background-color: #337AB7; 
    align-self: center;
    color: white;
    height: 30px;
    width: auto;
    border: 1px solid #767676; 
    font-size: 12px;
    justify-content: flex-end;
  }

  .enviar:hover {
    background-color: #2E6DA4; 
  }
  
  .linha {
    display: flex;
    justify-content: flex-end;
}

  .fimextra {
    margin-left: 150px;
    color: #777777; 
    font-weight: bold;
    justify-content: right;
    text-align: right;
  } 

.forms{
  width: 1300px;
  height: 30px; 
  border: 1px solid #CCCCCC; 
}

.quad{
  width: 250px;
  height: 30px; 
  border: 1px solid #CCCCCC; 
}

.forms2 {
  width: 1300px;
  height: 80px; 
  border: 1px solid #CCCCCC; 
}
